body{
    width: 100vw;
    background: #3947cd61;
    margin: 0px;
    padding: 0%;
    height: 100vh;
    overflow-x: hidden; 
}
/*1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/

.container_1{
    height: 15vh;
    min-height:75px;
   
    
}
.container_1 .titlu
    {
        width:100%;
        height:100%;
        background: linear-gradient(to top, rgb(25, 8, 176) 0%, transparent 45%);
        font-size: 40px;
         font-family: 'konquer', sans-serif;
         text-align: center;
                                                                                                
    }
/*22222222222222222222222222222222222222222222222222222222222222222222222222222*/
   
.container_2{

    height: 10vh;
   min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;background: linear-gradient(to bottom, rgb(25, 8, 176) 0%, transparent 20%);
 

}
.menu{
    width:90vw;
    padding-right: 3px;
}
.menu ul li a{
    text-decoration: none;
    font-family: 'Elianto', sans-serif;

    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    background: linear-gradient(to top,  rgb(105, 93, 213) 20%, transparent 100%);
}

.menu ul li :hover{
    background: linear-gradient(to top,  rgb(105, 93, 213) 60%, transparent 100%);
    color:  #cfd3ef;
} 
.menu ul{
    float: right;
    list-style-type: none;
}

.menu  ul li{
    display: inline-block;        
    

}


.menu ul li.active a{
    background: linear-gradient(to top,  rgb(105, 93, 213) 20%, transparent 100%);
    color:  black;
    font-weight: 1000;
    border-radius: 5px;
}

.nothing{
    width: 100%;
    height: 4%;
    
    }
.content{
    width:86vw;
    min-height: 90px;
    margin-left:7vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-radius: 3%;
    box-shadow: 0 5px 30px rgba(23, 6, 72, 0.6);
}
.box{
    width: 40vw;
    padding :0;    
display: flex;
    align-items: center;
    justify-content: center;
}
.box_2{
    width: 100%;
    padding: 1.5vw;
    
}
 .box img{
    max-width:39vw;
    max-height: 29vw;
     border-radius: 30px;
    box-shadow: 0 5px 20px rgba(23, 6, 72, 0.6);
    

 }
 .box5 img  {
    border-radius: 150px;
     box-shadow: 0 0 0 rgba(23, 6, 72, 0.6);}
.box p{
    padding: 2%;
    text-indent:40px;    
    font-size: 20px; 
    font-family: 'Ruwudu', sans-serif;
    text-align: justify;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
  }
  .box h1{
    
   
    font-family: 'Gloock', sans-serif;
    font-family: 'konquer', sans-serif;}
.code .ex{
    font-weight:bolder;
    color: aqua;
}